:root {
  --goldColor: #d19822;
  --debugger: 1px dotted red;
}

.pageLoader {
  width: 80px;
  height: 80px;
  margin: auto;
}

.loader {
  width: 50px;
  height: 50px;
  border-left: 5px solid #000;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 60px;
  animation: spin 0.3s infinite linear;
}

.backloader {
  width: 30px;
  height: 30px;
  border-left: 5px solid #000;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 60px;
  animation: spin 0.3s infinite linear;
}

.whiteloader {
  width: 30px;
  height: 30px;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 60px;
  animation: spin 0.3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonloader {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 60px;
  animation: spin 0.3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}

.auth__image {
  width: 50%;
  height: 100vh;
  background-image: url("../img/demo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.auth__image > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #fff;
  padding-left: 50px;
  font-size: 10em;
  font-family: "Bad Script", cursive;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .auth__image > div {
    font-size: 7em;
  }
}

@media (max-width: 800px) {
  .auth__image > div {
    padding-left: 10px;
  }
}

@media (max-width: 700px) {
  .auth__image > div {
    font-size: 5em;
  }
}

.auth__form {
  width: 50%;
  height: 100vh;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 600px) {
  .auth {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .auth__image {
    width: 100%;
  }

  .auth__form {
    width: 100%;
    height: 100%;
  }
}

.auth__form--logo {
  overflow: hidden;
}

.auth__form--logo > div {
  width: 150px;
  float: right;
}

.auth__form--logo > div > img {
  width: 100%;
}

.auth__form--heading {
  text-align: center;
  padding: 50px 0 20px 0;
}

.auth__form--heading > p {
  font-size: 20px;
  color: #000;
  margin: 0 0 10px 0;
}

.auth__form--heading > p > span {
  color: var(--goldColor);
}

.auth__form--heading > span {
  color: #000;
}

.auth__form--form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.auth__form--form > div {
  max-width: 400px;
  margin: auto;
}

.auth__form--form-name {
  margin-bottom: 20px;
  font-weight: 600;
  color: #000;
  text-align: left;
  font-size: 20px;
}

.auth__form--form-input {
  margin-bottom: 20px;
}

.auth__form--form-input > label {
  color: #000;
  text-align: left;
}

.auth__form--form-input > div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.auth__form--form-input > div > input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0 5px;
  font-size: 12px;
}

.auth__form--form-button {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.auth__form--form-button > button {
  width: 100%;
  height: 40px;
  outline: 0;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #000;
}

.auth__form--form-button > div {
  width: 45%;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 1px solid #000;
}

.auth__form--form-loader {
  margin-bottom: 20px;
}

.auth__form--form-loader > div {
  width: 100%;
  height: 40px;
  outline: 0;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.auth__form--form-msg {
  margin-bottom: 10px;
  color: #000;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.auth__form--form-msg > span {
  color: var(--goldColor);
  cursor: pointer;
}

.auth__form--form-msg > span > a {
  color: var(--goldColor);
}

.auth__form--form-remember {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 10px;
}

.auth__form--form-remember-rem {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  font-size: 12px;
}

.auth__form--form-remember-rem > input {
  width: 20px;
}

.auth__form--form-remember-psd {
  width: 50%;
  color: var(--goldColor);
  font-size: 12px;
  text-align: right;
}

.auth__form--form-remember-psd > a {
  color: var(--goldColor);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  background: #fff;
  z-index: 2;
  box-shadow: 0 1px 1px #00000026;
}

@media (max-width: 800px) {
  .header {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0 10px;
  }
}

.header__logo {
  width: 128px;
}

.header__burger {
  width: 40px;
  display: none;
}

@media (max-width: 900px) {
  .header__burger {
    display: block;
  }
}

.header__burger > div {
  width: 100%;
  height: 6px;
  background-color: var(--goldColor);
  border-radius: 5px;
  margin: 3px 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding-left: 50px;
  padding-top: 100px;
  background: #fff;
  display: block;
  overflow: auto;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}

a {
  text-decoration: none;
}

.sidebar > a {
  color: #000;
  font-weight: 600;
}

.sidebar > a > div {
  padding-left: 30px;
  cursor: pointer;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.sidebar > div {
  padding-left: 30px;
  cursor: pointer;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  color: red;
  font-weight: 600;
}

.sidebar > a > div:hover {
  background-color: #f8f1e3;
}

.sidebar > div:hover {
  background-color: #f8f1e3;
}

.sidebar__active > div {
  background-color: #f8f1e3;
}

.header__burger--cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

@media (max-width: 900px) {
  .header__burger--cover {
    display: block;
  }
}

.sidebar__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding-left: 50px;
  padding-top: 100px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  display: none;
  overflow: auto;
}

@media (max-width: 900px) {
  .sidebar__mobile {
    display: block;
  }
}

.sidebar__mobile > a {
  color: #000;
  font-weight: 600;
}

.sidebar__mobile > div {
  color: red;
  font-weight: 600;
}

.sidebar__mobile > a > div {
  padding-left: 30px;
  cursor: pointer;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.sidebar__mobile > div {
  padding-left: 30px;
  cursor: pointer;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.container {
  background: #f4f4f4;
  padding-top: 100px;
  padding-left: 270px;
  padding-right: 20px;
  min-height: 100vh;
  overflow: auto;
}

@media (max-width: 900px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.dash__intro {
  margin-bottom: 30px;
}

.dash__intro > span {
  color: #000;
  font-size: 12px;
  text-align: left;
}

.dash__intro > p {
  color: #000;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.dash__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media (max-width: 700px) {
  .dash__cards {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.dash__cards > div {
  padding-right: 10px;
  width: 33.333333333%;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .dash__cards > div {
    padding-right: 0;
    width: 100%;
  }
}

.dash__cards--white {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #000;
}

.dash__cards--purple {
  border-radius: 5px;
  background-color: #684966;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #fff;
}

.dash__cards--text {
  width: 60%;
}

.dash__cards--text > span {
  font-size: 12px;
  text-align: left;
}

.dash__cards--text > p {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dash__cards--img {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.dash__cards--img-cart {
  background-color: #8862b1;
  padding: 10px;
  border-radius: 5px;
}

.dash__cards--img-chart {
  background-color: #e6aa16;
  padding: 10px;
  border-radius: 5px;
}

.dash__cards--img-money {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.dash__cards--img > div {
  width: 50px;
  height: 50px;
}

.dash__body {
  margin-top: 30px;
  margin-bottom: 100px;
}

.dash__body > div {
  max-width: 500px;
}

.dash__body > div > span {
  font-size: 20px;
  text-align: left;
}

.dash__body > div > p {
  text-align: left;
  margin: 10px 0 0 0;
  line-height: 1.5;
}

.dash__body > div > div {
  margin-top: 20px;
}

.dash__body > div > div > span {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}

.dash__body > div > div > p {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--goldColor);
  text-transform: uppercase;
}

.dash__alert {
  margin-top: 10px;
  max-width: 500px;
}

.payment__nav {
  font-size: 12px;
  text-align: left;
  color: #000;
}

.payment__nav > a {
  color: #000;
}

.payment__nav > span {
  font-size: 12px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.payment__cards {
  max-width: 800px;
  margin-top: 30px;
}

.payment__cards > p {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.payment__cards > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  margin: 30px 0;
}

@media (max-width: 700px) {
  .payment__cards > div {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.payment__cards--btn {
  width: 30%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 2px solid #ddd;
}

@media (max-width: 700px) {
  .payment__cards--btn {
    width: 100%;
    padding-right: 0;
    border-right: 2px solid transparent;
  }
}

.payment__cards--btn > div {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #f3c21f;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.payment__cards--btn-icon {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.payment__cards--btn-icon > div {
  width: 50px;
  height: 50px;
}

.payment__cards--btn-text {
  width: 70%;
  color: #fff;
  font-size: 20px;
}

.payment__cards--card {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-left: 10px;
}

@media (max-width: 700px) {
  .payment__cards--card {
    padding-left: 0;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.payment__cards--card > div {
  width: 50%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .payment__cards--card > div {
    width: 100%;
    padding: 0;
  }
}

.payment__cards--card > div > div {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 20px;
  border-radius: 5px;
}

.payment__cards--card-text {
  width: 70%;
}

.payment__cards--card-text > span {
  font-size: 12px;
  text-align: left;
}

.payment__cards--card-text > p {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.payment__cards--card-icon {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.payment__cards--card-icon > div {
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #8862b1;
  border-radius: 5px;
}

.payment__body {
  max-width: 800px;
  background-color: #fff;
  margin-bottom: 20px;
  overflow: auto;
}

.payment__body > div {
  min-width: 500px;
  padding: 20px;
}

.payment__body--header {
  font-size: 16px;
  text-align: left;
  padding-bottom: 10px;
  max-width: 800px;
}

.payment__body--filter {
  font-size: 16px;
  text-align: left;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  max-width: 800px;
}

.payment__body--filter-dropdown {
  width: 150px;
  border-radius: 5px;
  border: 1px solid #000;
}

.payment__body--filter-dropdown > select {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #000;
}

.payment__body--filter-paginate {
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 50px;
}

.payment__body--filter-paginate > div {
  width: 50px;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #d19822;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.payment__body--filter-paginate > p {
  width: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #000;
  font-size: 16px;
}

.payment__body--table > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 15px 0;
  border-top: 1px solid #ddd;
}

.payment__body--table-data {
  font-size: 14px;
  text-align: left;
  width: 25%;
}

.payment__body--table-amount {
  font-size: 14px;
  text-align: left;
  width: 25%;
}

.payment__body--table-date {
  font-size: 14px;
  text-align: left;
  width: 25%;
}

.payment__body--table-status {
  font-size: 14px;
  width: 50%;
  text-align: left;
}

.payment__body--table-status-success {
  color: green;
}

.payment__body--table-status-fail {
  color: red;
}

.payment__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: auto;
}

.payment__modal > div {
  max-width: 500px;
  padding: 0 10px;
  margin: 50px auto;
}

.payment__modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.payment__modal__content > p {
  text-align: right;
  margin: 0 0 10px 0;
}

.payment__modal__content > p > span {
  font-size: 12px;
  font-weight: 600;
  color: red;
  cursor: pointer;
}

.payment__modal__content > span {
  font-size: 20px;
  text-align: center;
  margin: 10px 0 0 0;
}

.payment__modal__content--card {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

@media (max-width: 500px) {
  .payment__modal__content--card {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.payment__modal__content--card > div {
  width: 45%;
  padding: 20px;
  background-color: #60c0e8;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .payment__modal__content--card > div {
    width: 100%;
  }
}

.payment__modal__content--card > div > span {
  font-size: 12px;
  text-align: left;
  color: #fff;
  font-weight: 600;
}

.payment__modal__content--card > div > p {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: #fff;
}

.payment__modal__content--btn {
  margin-top: 10px;
}

.payment__modal__content--btn > div {
  width: 100px;
  margin: auto;
  padding: 12px 0;
  border-radius: 5px;
  background-color: red;
  cursor: pointer;
  text-align: center;
  color: #fff;
}

.payment__alert {
  margin: 10px 0;
  max-width: 500px;
}

.account__nav {
  font-size: 12px;
  text-align: left;
  color: #000;
}

.account__nav > a {
  color: #000;
}

.account__nav > span {
  font-size: 12px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.account__cards {
  max-width: 800px;
  margin-top: 30px;
  background-color: #fff;
  padding: 50px;
  margin-bottom: 100px;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .account__cards {
    padding: 20px;
  }
}

.account__cards > p {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.account__cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .account__cards-list {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.account__cards-card {
  width: 33.33333333%;
  padding-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .account__cards-card {
    width: 100%;
    padding-right: 0;
  }
}

.account__cards-card > div {
  padding: 20px;
  background-color: #60c0e8;
  border-radius: 5px;
  cursor: pointer;
}

.account__cards-card > div > span {
  font-size: 12px;
  text-align: left;
  color: #fff;
  font-weight: 600;
}

.account__cards-card > div > div {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account__cards-card > div > p {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: #fff;
}

.account__cards--btn {
  margin: 20px auto 0 auto;
}

.account__cards--btn > div {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  text-align: center;
}

.account__cards--alert {
  margin-top: 10px;
}

.account__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: auto;
}

.account__modal > div {
  max-width: 500px;
  padding: 0 10px;
  margin: 50px auto;
}

.account__modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .account__modal__content {
    padding: 10px;
  }
}

.account__modal__content > p {
  text-align: right;
}

.account__modal__content > p > span {
  font-size: 12px;
  cursor: pointer;
  color: red;
}

.account__modal__content > div {
  margin-bottom: 30px;
}

.account__modal__content > div > p {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: #000;
  text-align: center;
}

.account__modal__content--input {
  margin: 20px auto 0 auto;
  width: 80%;
}

@media (max-width: 400px) {
  .account__modal__content--input {
    width: 100%;
  }
}

.account__modal__content--input > label {
  font-size: 12px;
  color: #000;
  text-align: left;
}

.account__modal__content--input > input {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: 0;
  padding: 0 5px;
  border-radius: 5px;
}

.account__modal__content--input > select {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: 0;
  padding: 0 5px;
  border-radius: 5px;
}

.account__modal__content--btn {
  margin: 20px auto 0 auto;
  width: 80%;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

@media (max-width: 400px) {
  .account__modal__content--btn {
    width: 100%;
  }
}

.account__modal__content--btn > button:nth-child(1) {
  width: 45%;
  height: 40px;
  color: #000;
  outline: 0;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 5px;
  background-color: transparent;
}

.account__modal__content--btn > button:nth-child(2) {
  width: 45%;
  height: 40px;
  color: #fff;
  outline: 0;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 5px;
}

.account__modal__content--btn > button:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.account__modal__content--div {
  width: 80%;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

@media (max-width: 400px) {
  .account__modal__content--div {
    width: 100%;
  }
}

.account__modal__content--div > div:nth-child(1) {
  width: 30%;
  /* width: 45%; */
  height: 40px;
  border: 1px solid red;
  background-color: transparent;
  border-radius: 5px;
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.account__modal__content--div > div {
  width: 30%;
  /* width: 45%; */
  height: 40px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.account__modal__content--div > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.account__modal--alert {
  width: 80%;
  margin: 20px auto;
}

.error {
  border: 1px solid red;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.2);
}

.error > div {
  color: #000;
  font-style: italic;
  font-size: 12px;
  padding: 5px 0;
}

.success {
  border: 1px solid green;
  padding: 5px;
  background-color: rgba(0, 128, 0, 0.55);
}

.success > div {
  color: #fff;
  font-style: italic;
  font-size: 12px;
  padding: 5px 0;
}

.notfound {
  text-align: center;
}

.notfound__img {
  width: 600px;
  margin: auto;
  padding: 20px 10 10px 10px;
}

.notfound__btn {
  width: 100px;
  margin: auto;
  border-radius: 5px;
  background-color: #000;
  overflow: hidden;
}

.notfound__btn > a {
  color: #fff;
}

.notfound__btn > a > div {
  width: 100%;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #000;
  padding: 12px 0;
  text-align: center;
}

.page-error {
  border: 1px solid red;
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.2);
  color: #000;
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
}
